@CHARSET "UTF-8";

#root
{
    margin-left:5%;
	margin-right:5%;
	padding:10px;
		
	border-width:0 1px;
	border-style:solid;
	border-color:grey;
}

#head
{
   	height:30px;
}

#content
{
	min-height:500px;
	margin:5px 0;
	padding:5px 0;
	border-width:1px 0;
	border-style:solid;
	border-color:grey;
}

#footer
{
	text-align:right;
	font-size:0.8em;
	color:grey;
   	height:20px;
}

.valign-top
{
	vertical-align:top;
}